.body {
    background-color: black;
}

.bg-img {
    padding-left: 25%;
    background-size: 150px;
}

.header {
    color: cadetblue;
    font-size: 3em;
    font-family: "Adobe Garamond Pro", serif;
    text-align: left;
    margin-left: 10%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

